{% extends 'base.html' %}
{% block body %}
      <br/><br/>
      <center>
            <form action="{% url 'addstudent' %}" method="POST">
                  {% csrf_token %}
                  <b>STUDENT NAME:</b>
                  <input type="text" name="sname"/>
                  <br/>
                  <b>STUDENT COURSE:</b>
                  <input type="text" name="course"/>
                  <br/>
                  <b>COURSE FEES:</b>
                  <input type="text" name="fees"/>
                  <br/><br/>
                  <input type="submit" value="ADD"/>
            </form>
      </center>
{% endblock %}
